# Compiled Lua sources
luac.out

# luarocks build files
*.src.rock
*.zip
*.tar.gz

# Object files
*.o
*.os
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo
*.def
*.exp

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

Mrmezzy_firiona.ini
Toadbok_firiona.ini
Character Data/diasi_firiona.ini
Character Data/havva_firiona.ini
Character Data/hermyonee_firiona.ini
Character Data/jorezrilu_firiona.ini
Character Data/knorgar_firiona.ini
Character Data/leinami_firiona.ini
Character Data/miaxe_firiona.ini
Character Data/Mrmezzy_firiona.ini
Character Data/sashalicious_firiona.ini
Character Data/Mrmezzy_firiona.ini
Character Data/sneakycat_firiona.ini
Character Data/tayytay_firiona.ini
Character Data/tellerette_firiona.ini
Character Data/Toadbok_firiona.ini
Character Data/toadlee_firiona.ini
Character Data/tolbashi_firiona.ini
CREATE RELEASES HERE/Gearly/lib/Lemons/LemonTools.lua
CREATE RELEASES HERE/Gearly/lib/dannet/helpers.lua
CREATE RELEASES HERE/Gearly/lib/dannet/dannet.test.lua
CREATE RELEASES HERE/Gearly/lib/Write.lua
CREATE RELEASES HERE/Gearly/lib/LIP.lua
CREATE RELEASES HERE/Gearly/init.lua
CREATE RELEASES HERE/Gearly/gearData.lua
selectedStats.lua
itemTypesTable.lua
itemTypes.lua
Gearly Settings.ini
Gearly Settings - Copy.ini
gearData2.lua
Gearly Settings.ini
