# Compiled Lua sources
luac.out

# luarocks build files
*.src.rock
*.zip
*.tar.gz

# Object files
*.o
*.os
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo
*.def
*.exp

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

selectedStats.lua
itemTypesTable.lua
itemTypes.lua
Gearly Settings.ini
Gearly Settings - Copy.ini
gearData2.lua
Gearly Settings.ini
.vscode/settings.json
Gearly Settings.ini
test.lua
.gitignore
